<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BowlingGen -->
      <package
            uri="http://com/eclipse/bowling"
            class="Bowling.BowlingPackage"
            genModel="model/BowlingGen.genmodel"/>
   </extension>

</plugin>
